<nav class="navbar sticky-top navbar-expand-md bg-body-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"
            ><i class="fa-regular fa-compass"></i
        ></a>
        <div class="navbar-nav me-auto">
            <a class="nav-link" href="/listings">Explore</a>
        </div>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto mt-3 mb-3">
                <div class="d-flex" role="search">
                    <input
                        class="form-control me-2 search-inp"
                        type="search"
                        placeholder="Cozy beachfront cottage"
                        aria-label="Search"
                    />
                    <button class="btn search-btn" type="submit" onclick="search()">
                        <i class="fa-solid fa-magnifying-glass"></i>Search
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <% if(!currUser){ %>
                <a class="nav-link" href="/login"><b>Log in</b></a>
                <a class="nav-link" href="/signup"><b>Sign up</b></a>
                <% } else { %>
                <a class="nav-link" href="/logout"><b>Log out</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
